{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href=" https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css " />
    <title>
        {% block title %}
        Apile Project
        {% endblock title %}
    </title>
    {% block header %}{% endblock header %}
</head>

<body>
    <header>

        <nav class="pa3 pa4-ns">
            <a class="link dim black b f6 f5-ns dib mr3" href="#" title="Home">APILE</a>
            <a class="link dim gray    f6 f5-ns dib mr3" href="{% url 'home' %}">Home</a>
            <a class="link dim gray    f6 f5-ns dib mr3" href="{% url 'about'%}">About</a>
            <a class="link dim gray    f6 f5-ns dib mr3" href="{% url 'contact'%}">Contact</a>
            <a class="link dim gray    f6 f5-ns dib mr3" href="{% url 'register'%}">Register</a>
            {% if user.is_authenticated %}
            <a class="link dim gray    f6 f5-ns dib mr3"{% url 'auth_logout' %}">Logout</a>
            {% else %}
            <a class="link dim gray    f6 f5-ns dib mr3"{% url 'auth_login' %}">Login</a>
            <a class="link dim gray    f6 f5-ns dib mr3"{% url 'registration_register'%}">Register</a>
            {% endif %}
        </nav>


        <!-- <ul>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about'%}">About</a>
                <a href="{% url 'contact'%}">Contact</a>
                <a href="{% url 'register'%}">Register</a>
            </ul> -->
        <!-- </nav> -->
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>

</html>